/* 公用样式(需考虑样式的使用频率) */

html, body
{
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0px;
}
p{
  margin: 0;
}
ul li{
  list-style: none;
}
a, a:hover {
  color: #3498DB;
}
.el-col {
  border-radius: 4px;
}
.el-form-item {
  margin-bottom: 5px!important;
}
.el-dialog{
  width: 40%!important;
  min-width: 400px;
}

/* --折叠面板的边框-- */
.el-collapse{
  border: none;
  font-size: 1.1em;
}
.el-collapse-item__header{
  border:none;
  height: 79px;
  line-height: 80px;
}
.el-collapse-item__arrow{
  height: 79px;
  line-height: 80px;
}
.el-collapse-item__content{
  padding-bottom:0px;
}
/* --end-- */

.mianContent{
  width: 100%;
  min-width:350px;
  height: 100%;
}
.el-select{
  width: 100%;
}
.add{
  width: 5%;
  margin-left: 5px;
  min-width: 31px;
  height: 40px;
  float: left;
  z-index: 9999;
}
.addContent{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px;
}

/* --表格样式调整-- */
table{
  max-width: 1500px;
}
td,th{
  padding: 0px 0!important;
  font-family: 幼圆;
  text-align: left;
}
.table{
  width: 100%;
  min-height:600px;
  height:auto;
}
.el-table {
  font-size: 15px;
  color: gray;
}
.el-table th{
  padding: 6px 0!important;
}
/* --end-- */

.footer {
  padding-top: 15px;
  padding-bottom:15px ;
  text-align: center;
}

/* --分页样式-- */
.page-enter-active, .page-leave-active
{
  transition: opacity 1s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
.page{
  width: 100%;
  height:50px;
}
/* --end-- */


/* --后台页面标头-- */
.headerName{
  width: 100%;
  height: 50px;
  padding:0;
  background-color: #fafdff;
}
.leftSty{
  width: 5px;
  height:30px;
  margin-top: 10px;
  float: left;
  background: #2e2f30;
}
.bullCont {
  float: left;
  font-size: 1.1em;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  /* text-align: left; */
}
.headerline{
  width: 100%;
  height:1px;
  background: #ECECEC;
  margin: 0;
}
/* --后台页面标头结束-- */
